.btn-vanguard {
    background-color: #000000;
    color: #ffffff;
    border-radius: .7rem;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .625rem 1.75rem;
}

.btn-vanguard:hover, .btn-vanguard:active, .btn-vanguard:focus {
    background-color: #000000;
    color: #ffffff;
}

.col-form-label {
    color: #111827cc;
}

.card, .card-header {
    background-color: #ffffff;
}

.brand-logo-large {
    font-size: 26px;
    margin-right: 8px;
}

.brand-logo-small {
    font-size: 15px;
}
