.btn-vanguard {
    display: inline-flex;
    align-items: center;
    background-color: #1a202c; /* primary-900 */
    border: 1px solid transparent;
    border-radius: 0.70rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: white;
    transition: all 150ms ease-in-out;
    padding: 0.625rem 1.75rem; /* py-2.5 px-7 */
}

.btn-vanguard:hover,
.btn-vanguard:focus,
.btn-vanguard:active {
    background-color: #0d1117; /* primary-950 */
    color: white;
}

.btn-vanguard:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0d1117; /* focus ring */
}

.btn-vanguard-secondary {
    display: inline-flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.7rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background: linear-gradient(to right, #f9fafb, #f3f4f6);
    border: 1px solid #d1d5db;
    color: #374151;
    padding: 0.625rem 1.25rem;
}

.btn-vanguard-secondary:hover {
    background: linear-gradient(to right, #f3f4f6, #e5e7eb);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btn-vanguard-secondary:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.btn-vanguard-secondary:active {
    background: linear-gradient(to right, #e5e7eb, #d1d5db);
}

.btn-vanguard-secondary:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.col-form-label {
    color: #111827cc;
}

.card, .card-header {
    background-color: #ffffff;
}

.brand-logo-large {
    font-size: 26px;
    margin-right: 8px;
}

.brand-logo-small {
    font-size: 15px;
}

.btn-link, a {
    color: #000000;
    text-decoration: underline;
}

.btn-link:hover, .btn-link:active {
    color: #000000;
}
